<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6))">
  <div class="container">
    <h1>CRAZIEST COCTAILS</h1>
    <h2>Evah!</h2>
    <%= link_to "Create New Cocktail", new_cocktail_path ,class: "btn btn-ghost" %>
  </div>
</div>


<div class="cards">
<% @cocktail.each do |cocktail| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  <%= link_to cocktail.name, cocktail_path(cocktail.id)%>
    </div>
  <% end %>
</div>

<!-- linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), -->
